
.cast {
    /* position: relative; */
    /* max-width: 1300px; */
}

.row__overlay {
    position: absolute;
    width: 7.2rem;
    height: 100%;
    background-image: linear-gradient(
        90deg,
        transparent,
        rgba(17,17,17,0.6),
        #111
    )
}

.cast__titleContainer{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.cast__title {
    font-size: 20px;
    font-weight: 550;
}

.cast__buttonContainer {
    display: flex;
    margin-left: 10px;
    margin-right: 4px;
    min-width: 138px;
    width: 138px;
    align-items: center;
    justify-content: center;

}

.cast__button {
    display: flex;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    border: 0;
    font-size: 1rem;
    background-color: transparent;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.cast__star {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 4px;
    transition: transform 450ms;
    min-width: 138px;
    width: 138px;
    background-color: #fff;
    border-radius: 8px;
    color: #111;
    padding-bottom: 10px;
    cursor: pointer;
}

.cast__star:hover {
    transform: scale(1.08);
}

.star__poster {
    width: 100%;
    height: 175px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.star__data {
    display:flex;
    flex-direction: column;
    background-color: #fff;
    color: #111;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.star__name {
    padding: 10px 10px 0 10px;
    font-size: 0.9rem;
    font-weight: 550;
}

.star__character {
    padding: 0 10px;
    font-size: 0.9rem;
}


/* Credits */

.credits {
    max-width: 1300px;
    max-height: 800px;
    display: flex;
    justify-content: space-around;
    overflow-y: scroll;
}

.credits::-webkit-scrollbar {
    display: none;
}

.credits__title {
    font-size: 20px;
    font-weight: 600;
}

.credits__title span {
    margin: 0;
    font-size: 20px;
    font-weight: 550;
    color: rgba(0,0,0,0.5);
}

.credits__list {
    padding: 1.4rem 0;
}

.credit {
    display: flex;
    margin-top: 10px;
    margin-bottom: 4px;
    transition: transform 450ms;
    min-width: 138px;
    background-color: #fff;
    border-radius: 8px;
    color: #111;
    padding-right: 10px;
}

.credit:hover {
    transform: scale(1.08);
}

.credit__poster {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.credit__data {
    display:flex;
    flex-direction: column;
    background-color: #fff;
    color: #111;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.credit__name {
    padding: 10px 10px 0 10px;
    font-size: 0.9rem;
    font-weight: 550;
}

.credit__character {
    padding: 0 10px;
    font-size: 0.9rem;
}
