{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "_api": "src/api",
          "_assets": "src/assets",
          "_components": "src/components",
          "_hooks": "src/hooks",
          "_lib": "src/lib",
          "_app": "src/pages/app",
          "_state": "src/state",
          "_utils": "./src/utils"
        }
      }]
    ]
  }