@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252A;
  transition: top 0.2s linear;
  height: 64px;
  z-index: 10;
}

.nav__up {
  top: -64px;
}

.nav__logo {
  margin-left: 10%;
  cursor: pointer;
  font-size: 26px;
  color: rgba(0, 136, 169);
}

.nav__button {
  margin-right: 10%;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  color: #edf0f1;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.nav__search {
  color: #edf0f1;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav__search:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
